{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% for item in auctions %}
        <div class="mb-3 listing-container">
            <div class="container-img">
                <img src="{{ item.image.url }}" alt="Image">
            </div>
            <div class="container-details">
                <h3> {{ item.title }} </h3>
                <p> <strong>Price:</strong> ${{ item.bid }} </p>
                <p class="description"> {{ item.description }} </p>
                <p class="date"> Created: {{ item.date_listed }} </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}