{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <h2>Active Listings</h2>
        <form action="" method="get">
            <select name="q" id="category">
                <option value="" {% if input %} selected {% endif %}>All categories</option>
                {% for k, v in auctions_model.CATEGORIES.items %}
                    <option value="{{ k }}" {% if input == k %} selected {% endif %}> {{ v }} </option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
    </div>
    
    {% for item in auctions %}
        <div class="mb-3 listing-container">
            <div class="listing-container-img">
                <img src="{{ item.image.url }}" alt="Image">
            </div>
            <div class="listing-container-details">
                <a href="{% url 'listing_page' item_id=item.id %}" style="text-decoration: none; color: black;"><h3> {{ item.title }} </h3></a>
                <p> <strong>Price:</strong> ${{ item.bid }} </p>
                <p class="description"> {{ item.description }} </p>
                <p class="date"> Created: {{ item.date_listed }} by {{ item.user }} </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}