{% extends 'auctions/layout.html' %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex">
        <div class="w-100 text-center" style="max-height: 500px;">
            <img src="{{ item.image.url }}" alt="" style="max-width: 100%; height: 100%; min-width: 200px;">
        </div>
        <div class="w-100">
            <h1> {{ item.title }} </h1>
            <p class="description"> {{ item.description }} </p>
            <p><strong>Current Bid Price:</strong> ${{ item.bid }} </p>
            <p class="date"> Created: {{ item.date_listed }} by <strong> {{ item.user}} </strong></p>
        </div>
        {% if user.is_authenticated and item.is_active %}
            <div class="w-100 flex-btn">
                <form action="{% url 'place_bid' item_id=item.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary">Bid</button>
                    <input type="number" name="bid_amount" required>
                </form>
                <button class="btn btn-primary">Add to Watchlist</button>
                {% if user == item.user %}
                    <form action="{% url 'close_bid' item_id=item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary">Close Bid</button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
        <h3>Bid List</h3>
        <div class="bid-list rounded">
            <ul style="list-style-type: none; padding: 0;">
                {% for bid in bids %}
                    <li> {{ bid.bidder }}: ${{ bid.amount }} </li>
                {% endfor %}
            </ul>
        </div>
        <h3>Comments</h3>
        {% if user.is_authenticated %}
            <div class="input-comment-container">
                <form action="{% url 'make_comment' item_id=item.id %}" method="post" class="form-comment-container">
                    {% csrf_token %}
                    <label for="comment">Make comment:</label>
                    <input type="text" name="comment">
                    <input type="submit" value="Submit" class="btn btn-primary mt-2">
                </form>
            </div>
        {% endif %}
        {% for comment in comments %}
            <div class="comment-container">
                <div>
                    User: <strong>{{ comment.user }}</strong>
                </div>
                <div>
                    {{ comment.comment }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}