{% extends 'auctions/layout.html' %}

{% block body %}
    <div>
        <h1> {{ user.username }}'s Watchlist </h1>
    </div>
    {% for item in watchlist %}
        <div class="mb-3 listing-container">
            <div class="listing-container-img">
                <img src="{{ item.image.url }}" alt="Image">
            </div>
            <div class="listing-container-details">
                <a href="{% url 'listing_page' item_id=item.id %}" style="text-decoration: none; color: black;"><h3> {{ item.title }} </h3></a>
                <p> <strong>Price:</strong> ${{ item.bid }} </p>
                <p class="description"> {{ item.description }} </p>
                <p class="date"> Created: {{ item.date_listed }} by {{ item.user }} </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}